// custom SCSS (or CSS) goes here

// fonts
@font-face {
    font-family: 'Silent-Reaction';
    src: url('fonts/Silent-Reaction.ttf') format('truetype');
}
@font-face {
    font-family: 'space-age';
    src: url('fonts/space-age.ttf') format('truetype');
}
@font-face {
    font-family: 'Attractype-Reborn';
    src: url('fonts/Attractype-Reborn.otf') format('opentype');
}
@font-face {
    font-family: 'Chocolate-Covered-Raindrops-BOLD';
    src: url('fonts/Chocolate-Covered-Raindrops-BOLD.ttf') format('truetype');
}
@font-face {
    font-family: 'Malvie';
    src: url('fonts/Malvie.otf') format('opentype');
}
@font-face {
    font-family: 'Circus-Of-Innocents';
    src: url('fonts/Circus-Of-Innocents.ttf') format('truetype');
}
@font-face {
    font-family: 'Lemon-Regular';
    src: url('fonts/Lemon-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PLANK';
    src: url('fonts/PLANK.TTF') format('truetype');
}
@font-face {
    font-family: 'Galada-Regular';
    src: url('fonts/Galada-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kingthings-Organica';
    src: url('fonts/Kingthings-Organica.ttf') format('truetype');
}
@font-face {
    font-family: 'glitch';
    src: url('fonts/glitch.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitwise';
    src: url('fonts/Bitwise.ttf') format('truetype');
}
@font-face {
    font-family: 'Valentine-Cute';
    src: url('fonts/Valentine-Cute.ttf') format('truetype');
}
@font-face {
    font-family: 'typewritter';
    src: url('fonts/typewritter.TTF') format('truetype');
}
@font-face {
    font-family: 'typewritter-bold';
    src: url('fonts/typewritter-bold.TTF') format('truetype');
}
@font-face {
    font-family: 'topgun';
    src: url('fonts/topgun.ttf') format('truetype');
}
@font-face {
    font-family: 'rakoon';
    src: url('fonts/rakoon.ttf') format('truetype');
}
@font-face {
    font-family: 'Fearth';
    src: url('fonts/Fearth.ttf') format('truetype');
}
@font-face {
    font-family: 'Minecraftory';
    src: url('fonts/Minecraftory.ttf') format('truetype');
}
@font-face {
    font-family: 'KarmaFuture';
    src: url('fonts/KarmaFuture.ttf') format('truetype');
}
@font-face {
    font-family: 'ElectedOffice';
    src: url('fonts/ElectedOffice.ttf') format('truetype');
}
@font-face {
    font-family: 'Atiba';
    src: url('fonts/Atiba.ttf') format('truetype');
}
@font-face {
    font-family: 'Monoglyceride';
    src: url('fonts/Monoglyceride.ttf') format('truetype');
}
// f-earth scratch-font mincraftory karma-future elected-office atiba
// monoglyceride

.font-silent-reaction {
    font-family: 'Silent-Reaction' !important;
}
.font-space-age {
    font-family: 'space-age' !important;
}
.font-Attractype-Reborn{
    font-family: 'Attractype-Reborn' !important;
}
.font-Chocolate-Covered-Raindrops-BOLD{
    font-family: 'Chocolate-Covered-Raindrops-BOLD' !important;
}
.font-Malvie{
    font-family: 'Malvie' !important;
}
.font-Galada-Regular{
    font-family: 'Galada-Regular' !important;
}
.font-Circus-Of-Innocents{
    font-family: 'Circus-Of-Innocents' !important;
}
.font-Lemon-Regular{
    font-family: 'Lemon-Regular' !important;
}
.font-glitch{
    font-family: 'glitch' !important;
}
.font-Bitwise{
    font-family: 'Bitwise' !important;
}
.font-Valentine-Cute{
    font-family: 'Valentine-Cute' !important;
}
.font-typewritter{
    font-family: 'typewritter' !important;
}
.font-typewritter-bold{
    font-family: 'typewritter-bold' !important;
}
.font-topgun{
    font-family: 'topgun' !important;
}
.font-rakoon{
    font-family: 'rakoon' !important;
}
.font-PLANK{
    font-family: 'PLANK' !important;
}
