#utteranc-area-division {
    margin: 1% !important;
}
#utteranc-area {
    margin-bottom: 10%;
}
.utterances {
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $grey-lt-300;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    // border-right: $border $side-bar-border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  background-color: white;
  display: block;
  height: 100%;
  overflow-y: auto;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    // stylelint-disable function-name-case
    // disable for Max(), we want to use the CSS max() function
    margin-left: Max(
      #{$nav-width},
      calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width})
    );
    // stylelint-enable function-name-case
  }

  // display: flex;
  // flex-direction: column;
  // flex: 1 1 auto;
}

.main-content-wrap {
  @include container;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

// custom for fixed search bar
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $header-height;
}

.main-header {
  @include mq(md) {
    // position: relative;
    position: fixed;
    max-width: $content-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;
  }

  z-index: 1;
  display: none;
  background-color: $sidebar-color;

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}

.site-nav,
.site-header,
.site-footer,
#hit-counter-img {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }

  background-color: $sidebar-color;
}

#hit-counter-img {
    // display: none !important;
    // @include mq(md) {
        display: block !important;
        min-height: $nav-list-item-height;
        line-height: #{$nav-list-item-height - 2 * $sp-1};
        @if $nav-list-expander-right {
          padding-right: $nav-list-item-height;
          padding-left: $gutter-spacing;
        } @else {
          padding-right: $gutter-spacing;
          padding-left: $nav-list-item-height;
        }
        padding-top: 5%;
    // }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  @include container;

  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;
  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  height: 100vh;
  overflow: hidden;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
  background-color: $grey-lt-300;
}

// stylelint-enable selector-max-type

.site-footer {
    display: none;
    z-index: 1;
  @include container;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    display: block;
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
