main#hanoi-tower-simulator {
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
#game-board-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex: 4;
}

aside#right {
    flex: 1;
    padding: 0 1rem !important;
    gap: 1rem !important;
}

#progress-status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;
}
#progress-title {
    text-align: right;
}
#progress-number {
    text-align: left;
}

#io-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

#move-count-msg {
    margin: 0;
}

#control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}

#control-button {
    flex: 1;
    border: none !important;
    outline: none !important;
}

.move-order-panel {
    padding: 0 0.5rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    max-height: 15rem;
    overflow-y: auto;
    background-color: #e5e1e7;
}

.current-step {
    color: blue;
    font-size: 1.2rem;
}

input {
    width: 4rem;
}

.after-start {
    padding: 0.5rem 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

canvas#tower-canvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;
    @media only screen and (max-width: 767px) {
        height: 100%;
        width: 100%;
    }
}

div.tower {
    background-color: #gray;
}

.row-direction-list-division {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
