<hr id="utteranc-area-division">
<div id="utteranc-area">
    <h3><pre><br>   loading comments...</pre></h3>
    <script src="https://utteranc.es/client.js"
        repo="mkparkqq/qqDocs-comment"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        >
    </script>
    <script>
        let count = 0;
        while (count < 30) {
            let utteranc = document.querySelector('div.utterances');
            if (utteranc != null) {
                setTimeout(() => {
                    document.querySelector('#utteranc-area>h3').innerHTML = '';
                }, 1500);
                break;
            } else {
                setTimeout(() => {  }, 100);
                count++;
            }
        }
        console.log("네이버 가고싶다...");
    </script>
</div>

