<hr id="utteranc-area-division">
<div id="utteranc-area">
    <h3><pre><br>   loading comments... </pre></h3>
    <script src="https://utteranc.es/client.js"
        repo="mkparkqq/qqDocs-comment"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    <script>
        let scrollArea = document.querySelector('div.main#top');
        if (scrollArea == null) {  // minimal layout
            let targetHr = document.getElementById('utteranc-area-division');
            targetHr.remove()
            window.addEventListener('scroll', function(e) {
                const currentY = (window.scrollY || window.scrollYOffset)
                const thresholdY = (document.documentElement.scrollHeight - window.innerHeight) * 0.8;
                if (currentY >= thresholdY) {
                    setTimeout(() => {
                        document.querySelector('div#utteranc-area>h3').innerHTML = '';
                    }, 1000);
                }
            });
        } else {  // default layout
            const thresholdY = (scrollArea.scrollHeight - scrollArea.clientHeight) * 0.8;
            scrollArea.addEventListener('scroll', function(e) {
                if (scrollArea.scrollTop >= thresholdY) {
                    setTimeout(() => {
                        document.querySelector('div#utteranc-area>h3').innerHTML = '';
                    }, 1000);
                }
            });
        }
    </script>
</div>

